*{
    margin: 0;
    padding:0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px ;
}
.mobile-menu{
    display: block;
    width: 100%;
    background-color: rgb(235, 18, 235);
    line-height: 1.6em;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.mobile-menu ul{
    list-style-type: none;
    margin: o auto;
    padding-left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    background-color: rgba(223, 10, 169, 0.726);
}
.mobile-menu li{
    display: inline-block;
}
.mobile-menu li a{
    display: block;
    min-width: 140px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.664);
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: -5px;
    padding: 10px 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s 0.4 ease 0s;
    transition: all 0.4s ease 0s;
}
.mobile-menu li:hover a{
    color: aliceblue;
    background-color: brown;
    transition: 1s;
}
.mobile-menu li:hover ul a{
    background-color: aqua;
    color: blue;
    height: 40px;
    line-height: 40px;
}
.mobile-menu li:hover .mobile-menu ul a:hover{
    color: rgb(233, 20, 20);
}
.mobile-menu li ul{
    display: none;
}
.mobile-menu li ul li{
    display: block;
    float: none;
}
.mobile-menu li ul li a{
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
.mobile-menu .show-menu{
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    padding: 10px 15px;
    display: none;
    cursor: pointer;
    text-transform: uppercase;
}
.mobile-menu .show-menu span{
    padding-left: 25px;
}
.mobile-menu input[type=checkbox]{
    display: none;
}
.mobile-menu input[type=checkbox]:checked ~ #menu{
    display: block;
}
@media screen and (max-width: 800px){
    .mobile-menu .line{
        border-bottom: 15px double rgb(243, 243, 229);
        border-top: 5px solid rgb(24, 24, 23);
        content: "";
        height: 5px;
        width: 20px;
        padding-right: 15px;
        float: right;
    }
    .mobile-menu ul{
        position: static;
        display: none;
    }
    .mobile-menu li{
        margin-bottom: 1px;
    }
    .mobile-menu ul li, .mobile-menu li a{
        width: 100%;
    }
    .mobile-menu .show-menu{
        display: block;
    }

}