body {
    background: linear-gradient(to right, pink, purple);
}
form {
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
}
label {
    font-family: Arial, sans-serif;
    font-size: 20px;
}
input {
    transition: 0.5s;
}
input:hover {
    transform: scale(1.1);
}
select option:nth-child(1) {
    color: red;
}
select option:nth-child(2) {
    color: green;
}
select option:nth-child(3) {
    color: blue;
}
select option:nth-child(4) {
    color: yellow;
}
input[type=submit] {
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
    transform: scale(1);
    background-color: white;
    color: black;
    }
    50% {
    transform: scale(1.2);
    background-color: black;
    color: white;
    }
    100% {
    transform: scale(1);
    background-color: white;
    color: black;
    }
}