body{
    background-image: url("../img/espacio.png");
    background-size: cover;
}
.content{
    width: 480px;
    height: 480px;
    margin: 80px auto;
    background-image: url(../img/mapa.png);
    border-radius: 50%;
    animation: rotar 60s infinite;
    animation-timing-function: linear;
    box-shadow: 0px 2px 15px 3px rgb(7, 152, 236);
    position: relative;
}
.shadow3d{
    background-image: url(../img/base.webp);
    position: absolute;
    width: 480px;
    height: 480px;
}
@keyframes rotar {
    0%{
    background-position: 0px;
    }
    10%{
        background-position: 16970px;
    }
}
#image{
        position: absolute;
}
